
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: rgb(180, 237, 252);
    width: 100%;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #ffffff;
    text-decoration: underline;
}